@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<h3>Gabriel Coppini - gabriel.coppini(at)gmail.com</h3>

<p>Sou programador a mais de 15 anos, já atuei em diversos projetos com uma grande variedade de tecnologias e negócios.</p>
<p>Tenho  especial interesse em tópicos de escalabilidade, performance e segurança.
<p>Nas horas vagas eu gosto de cinema, filmes, churrasco, culinária japonesa e principalmente brincar com as minhas filhas</p>
<p>Twitter: &#64;CoppiniGabriel</p>
<p>Linkedin: http://www.linkedin.com/in/coppinigabriel</p>
<p>GitHub: http://www.github.com/gcoppini</p>
