@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    São Paulo, SP<br />
    <abbr title="Phone">P:</abbr>
    +55 11 97585-5374
</address>

<address>
    <strong>Dúvidas:</strong> <a href="mailto:gabriel.coppini@gmail.com">gabriel.coppini@gmail.com</a><br />
</address>
